# Composer
/vendor/

# Build artifacts
/build/*.so
/build/*.o
/build/swisseph_src/
/build/sweph.tar.gz
/build/ephe/

# IDE
/.idea/
/.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# PHP
.phpunit.result.cache
.php-cs-fixer.cache
.phpunit.cache/
.phpstan.cache/
/coverage/

# Logs
*.log

# Misc
/.venv
/misc
/node_modules

.htmlhintrc